<div class="card sameheight-item">
	<div class="card-block">

		<div class="card-title-block">
			<h3 class="title">
				按钮大小
			</h3>
		</div>
		<section class="section">

            <p>大按钮</p>
            <button type="button" class="btn btn-primary btn-lg">主要</button>

            <button type="button" class="btn btn-secondary btn-lg">次要</button>

            <button type="button" class="btn btn-success btn-lg">成功</button>

            <button type="button" class="btn btn-info btn-lg">信息</button>

            <button type="button" class="btn btn-warning btn-lg">警告</button>

            <button type="button" class="btn btn-danger btn-lg">危险</button>
            <p></p>

            <p>小按钮</p>
            <button type="button" class="btn btn-primary btn-sm">主要</button>

            <button type="button" class="btn btn-secondary btn-sm">次要</button>

            <button type="button" class="btn btn-success btn-sm">成功</button>

            <button type="button" class="btn btn-info btn-sm">信息</button>

            <button type="button" class="btn btn-warning btn-sm">警告</button>

            <button type="button" class="btn btn-danger btn-sm">危险</button>
            <p></p>
            
            <p>块按钮</p>
            <button type="button" class="btn btn-primary btn-lg btn-block">块级别按钮</button>
            <button type="button" class="btn btn-secondary btn-sm btn-block">块级别按钮</button>
            
		</section>
	</div>
</div>