<div class="card card-block sameheight-item">
	<div class="title-block">
		<h3 class="title">
			四舍五入
		</h3>	
	</div>
	<form >
	    <div class="form-group">
	        <label class="control-label">输入文本</label>			        
				<input type="text" class="form-control boxed rounded">
	    </div>
	    <div class="form-group">
	        <label class="control-label">输入密码</label>
	        <input type="password" class="form-control boxed rounded">
	    </div>
	    <div class="form-group">
	        <label class="control-label">占位符输入</label>
	        <input type="text" class="form-control boxed rounded" placeholder="Placeholder text">
	    </div>
	    <div class="form-group">
	        <label class="control-label">禁止输入</label>
			<input type="text" disabled="disabled" class="form-control boxed rounded" placeholder="Disabled input text">
	    </div>
	    <div class="form-group">
	    	<label class="control-label">静态控制器</label>
	    	<p class="form-control-static boxed rounded">email@example.com</p>
	    </div>
	    <div class="form-group">
	        <label class="control-label">只读输入</label>
			<input type="text" readonly="readonly" class="form-control boxed rounded" value="Readonly input text">
	    </div>
	    <div class="form-group">
	        <label class="control-label">文本区域</label>
			<textarea rows="3" class="form-control boxed rounded"></textarea>
	    </div>
	</form>
</div>