<div class="card card-block sameheight-item">
	<div class="title-block" >
		<h3 class="title">
			控制器尺寸
		</h3>
	</div>
	<form role="form">
		<div class="form-group">
			<input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" placeholder="Default input">
		</div>
		<div class="form-group">
			<input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
		</div>
		<div class="form-group">
			<select class="form-control form-control-lg">
				<option>选项1</option>
				<option>选项2</option>
				<option>选项3</option>
				<option>选项4</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control">
				<option>选项1</option>
				<option>选项2</option>
				<option>选项3</option>
				<option>选项4</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control form-control-sm">
				<option>选项1</option>
				<option>选项2</option>
				<option>选项3</option>
				<option>选项4</option>
			</select>
		</div>
	</form>
</div>