.header {
	/*background-color: $color-divider;*/
	background-color: $header-color;
	height: $header-height;
	position: absolute;
	//left: $sidebar-width;
	width: 100%;
	left: 0;
	transition: left 0.3s ease;
	z-index: 9999;

	display: flex;
	align-items: center;
	justify-content: space-between;


	@include media-down(md) {
		left: 0;
	}

	@include media-down(sm) {
		left: 0;
		height: $header-height-xs;
	}

	.header-fixed & {
		position: fixed;
	}

	.header-block {
		@include media-down(sm) {
			padding: 5px;
		}
	}
}