<div class="card card-block">
	<div class="title-block">
		<h3 class="title">
			复选框类型
		</h3>
	</div>
	<form role="form">
		<div class="form-group">
            <label class="control-label">复选框</label>
            <div>
                <label>
                    <input class="checkbox" type="checkbox">
                    <span>选项1</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="checkbox" type="checkbox" checked="checked">
                    <span>选项2（选中）</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="checkbox" type="checkbox" disabled="disabled" checked="checked">
                    <span>选项3（选中并禁用）</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="checkbox" type="checkbox" disabled="disabled" >
                    <span>选项4（禁用）</span>
                </label>
            </div>
        </div>
        <div class="form-group">
             <label class="control-label">内联复选框</label>
             <div>
                 <label>
                    <input class="checkbox" type="checkbox">
                    <span>a</span>
                </label>
                <label>
                    <input class="checkbox" type="checkbox">
                    <span>b</span>
                </label>
                <label>
                    <input class="checkbox" type="checkbox">
                    <span>c</span>
                </label>
             </div>
        </div>
        <div class="form-group">
             <label class="control-label">圆形复选框</label>
             <div>
                 <label>
                    <input class="checkbox rounded" checked="checked" type="checkbox">
                    <span>选中</span>
                </label>
                <label>
                    <input class="checkbox rounded" type="checkbox">
                    <span>未选</span>
                </label>
             </div>
        </div>
	</form>
</div>