<div class="card sameheight-item">
	<div class="card-block">

		<div class="card-title-block">
			<h3 class="title">
				按钮分组
			</h3>
		</div>
		<section class="section">
        
         <p>基本例子</p>
         <div class="btn-group">
            <button type="button" class="btn btn-secondary">左</button>
            <button type="button" class="btn btn-secondary">中</button>
            <button type="button" class="btn btn-secondary">右</button>
         </div>
         <div class="btn-group">
            <button type="button" class="btn btn-primary">左</button>
            <button type="button" class="btn btn-primary">中</button>
            <button type="button" class="btn btn-primary">右</button>
         </div>
         <p></p>

         <p>按钮组大小</p>
         <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
         </div>
         <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-secondary">5</button>
            <button type="button" class="btn btn-secondary">6</button>
            <button type="button" class="btn btn-secondary">7</button>
         </div>
         <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-secondary btn-lg">8</button>
         </div>

         <p></p>

         <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-primary">1</button>
            <button type="button" class="btn btn-primary">2</button>
            <button type="button" class="btn btn-primary">3</button>
            <button type="button" class="btn btn-primary">4</button>
         </div>
         <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-primary">5</button>
            <button type="button" class="btn btn-primary">6</button>
            <button type="button" class="btn btn-primary">7</button>
         </div>
         <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-primary">8</button>
         </div>
         <p></p>

         <p>嵌套</p>
         <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>

            <div class="btn-group" role="group">
               <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  下拉菜单
               </button>
               <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">动作1</a>
                  <a class="dropdown-item" href="#">动作2</a>
                  <a class="dropdown-item" href="#">动作3</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">动作4</a>
               </div>
            </div>
         </div>  
         <p></p>
         <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary">1</button>
            <button type="button" class="btn btn-primary">2</button>

            <div class="btn-group" role="group">
               <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  下拉菜单
               </button>
               <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">动作1</a>
                  <a class="dropdown-item" href="#">动作2</a>
                  <a class="dropdown-item" href="#">动作3</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">动作4</a>
               </div>
            </div>
         </div>  
		</section>
	</div>
</div>