---
layout: app/app-layout
pagename: charts-flot
---
<div class="title-block">
	<h3 class="title">
		弗洛图表 
	</h3>
	<p class="title-description">
		带有自定义颜色的示例图表列表
	</p>
</div>

<section class="section">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-block">
					<div class="card-title-block">
						<h3 class="title">
							条形图示例
						</h3>
					</div>

					<section class="example">
						<div class="flot-chart">
							<div class="flot-chart-content" id="flot-bar-chart"></div>
						</div>
					</section>
				</div>
			</div>
		</div>


		<div class="col-md-6">
			<div class="card">
				<div class="card-block">
					<div class="card-title-block">
						<h3 class="title">
							折线图示例
						</h3>
					</div>

					<section class="example">
						<div class="flot-chart">
							<div class="flot-chart-content" id="flot-line-chart"></div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-block">
					<div class="card-title-block">
						<h3 class="title">
							饼图示例
						</h3>
					</div>

					<section class="example">

						<div class="flot-chart">
							<div class="flot-chart-pie-content" id="flot-pie-chart"></div>
						</div>

					</section>
				</div>
			</div>
		</div>


		<div class="col-md-6">
			<div class="card">
				<div class="card-block">
					<div class="card-title-block">
						<h3 class="title">
							活动图表示例
						</h3>
					</div>

					<section class="example">

						<div class="flot-chart">
							<div class="flot-chart-content" id="flot-line-chart-moving"></div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="row">
		<div class="col-md-12">

			<div class="card">
				<div class="card-block">

					<div class="card-title-block">
						<h3 class="title">
							多轴折线图示例
						</h3>
					</div>

					<section class="example">

						<div class="flot-chart">
							<div class="flot-chart-content" id="flot-line-chart-multi"></div>
						</div>

					</section>

				</div>
			</div>
			
		</div>
	</div>
</section>