<div class="card sameheight-item">
	<div class="card-block">

		<div class="card-title-block">
			<h3 class="title">
				轮廓按钮
			</h3>
		</div>
		<section class="section">
        
            <button type="button" class="btn btn-primary-outline">主要</button>

            <button type="button" class="btn btn-secondary-outline">次要</button>

            <button type="button" class="btn btn-success-outline">成功</button>

            <button type="button" class="btn btn-info-outline">信息</button>

            <button type="button" class="btn btn-warning-outline">警告</button>

            <button type="button" class="btn btn-danger-outline">危险</button>
            
		</section>
	</div>
</div>