---
layout: _main-layout
themeTitle: ModularAdmin
---
<div class="main-wrapper">
  <div class="app" id="app">
    {{!-- 默认的页眉栏部分 --}}
    {{> app/_common/header/header}}

    {{!-- 默认的边栏部分 --}}
    {{> app/_common/sidebar/sidebar}}

    <div class="mobile-menu-handle"></div>

    {{!-- 内容部分 --}}
    <article class="content {{pagename}}-page">
      {{{body}}}
    </article>

    {{!-- 默认的页脚部分 --}}
    {{> app/_common/footer/footer}}

    {{> app/_common/modals/modals}}
  </div>
</div>  