<!-- 页脚开始 -->
<footer class="footer">
	<!--
	<div class="footer-block buttons">
		<iframe class="footer-github-btn"
			src="https://ghbtns.com/github-btn.html?user=modularcode&repo=modular-admin-html&type=star&count=true" 
			frameborder="0" scrolling="0" width="140px" height="20px"></iframe>
	</div>
	-->
	<div class="footer-block author">
		<ul>
			<li>
				<a href="http://dalistudio.net" target="_blank">&copy;DaliStudio</a>
			</li>
			
		</ul>
	</div>
</footer>
<!-- 页脚结束 -->