<footer class="footer">
	<div class="footer-block buttons">
		<iframe class="footer-github-btn"
			src="https://ghbtns.com/github-btn.html?user=modularcode&repo=modular-admin-html&type=star&count=true" 
			frameborder="0" scrolling="0" width="140px" height="20px"></iframe>
	</div>
	<div class="footer-block author">
		<ul>
			<li>
				创建 
				<a href="https://github.com/dalistudio">ModularCode</a>
			</li>
			<li>
				<a href="https://github.com/dalistudio/modular-admin-html#get-in-touch">联系我们</a>
			</li>
		</ul>
	</div>
</footer>