<div class="card sameheight-item">
	<div class="card-block">

		<div class="card-title-block">
			<h3 class="title">
				按钮类型
			</h3>
		</div>
		<section class="section">
        
         <p>左药丸形</p>
         <p>
            <button type="button" class="btn btn-pill-left btn-primary">主要</button>
            <button type="button" class="btn btn-pill-left btn-secondary">次要</button>
            <button type="button" class="btn btn-pill-left btn-success">成功</button>
            <button type="button" class="btn btn-pill-left btn-info">信息</button>
            <button type="button" class="btn btn-pill-left btn-warning">警告</button>
            <button type="button" class="btn btn-pill-left btn-danger">危险</button>
         </p>
         <p>右药丸形</p>
         <p>
            <button type="button" class="btn btn-pill-right btn-primary">主要</button>
            <button type="button" class="btn btn-pill-right btn-secondary">次要</button>
            <button type="button" class="btn btn-pill-right btn-success">成功</button>
            <button type="button" class="btn btn-pill-right btn-info">信息</button>
            <button type="button" class="btn btn-pill-right btn-warning">警告</button>
            <button type="button" class="btn btn-pill-right btn-danger">危险</button>
         </p>
         <p>椭圆形</p>
         <p>
            <button type="button" class="btn btn-oval btn-primary">主要</button>
            <button type="button" class="btn btn-oval btn-secondary">次要</button>
            <button type="button" class="btn btn-oval btn-success">成功</button>
            <button type="button" class="btn btn-oval btn-info">信息</button>
            <button type="button" class="btn btn-oval btn-warning">警告</button>
            <button type="button" class="btn btn-oval btn-danger">危险</button>
         </p> 
		</section>
	</div>
</div>