<div class="card sameheight-item">
	<div class="card-block">

		<div class="card-title-block">
			<h3 class="title">
				按钮颜色
			</h3>
		</div>
		<section class="section">
            <button type="button" class="btn btn-primary">主要</button>

            <button type="button" class="btn btn-secondary">次要</button>

            <button type="button" class="btn btn-success">成功</button>

            <button type="button" class="btn btn-info">信息</button>

            <button type="button" class="btn btn-warning">警告</button>

            <button type="button" class="btn btn-danger">危险</button>

            <a href="javascript:void(0);" class="btn btn-link">按钮链接</a>

		</section>

	</div>
</div>