<!-- 侧边栏开始 -->
<aside class="sidebar">
	<div class="sidebar-container">

		{{> app/_common/sidebar/header/header}}

		<nav class="menu">
			<ul class="sidebar-menu metismenu" id="sidebar-menu">

				<li {{#is pagename "===" "dashboard"}}class="active"{{/is}} >
					<a href="index.html">
						<i class="fa fa-home"></i> 仪表盘
					</a>
				</li>


				<li {{#is pagename "in" "items-list,item-editor"}}class="active open"{{/is}} >

					<a href="">
						<i class="fa fa-th-large"></i> 条目管理
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">
						<li {{#is pagename "===" "items-list"}}class="active"{{/is}} >
							<a href="items-list.html">
								条目列表
							</a>
						</li>

						<li {{#is pagename "===" "item-editor"}}class="active"{{/is}} >
							<a href="item-editor.html">
								条目编辑器
							</a>
						</li>
					</ul>
				</li>

				<li {{#is pagename "in" "charts-flot,charts-morris"}}class="active open"{{/is}} >
					<a href="">
						<i class="fa fa-area-chart"></i> 图表
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">
						<li {{#is pagename "===" "charts-flot"}}class="active"{{/is}} >
							<a href="charts-flot.html">
								弗洛图表
							</a>
						</li>

						<li {{#is pagename "===" "charts-morris"}}class="active"{{/is}} >
							<a href="charts-morris.html">
								莫里斯图表
							</a>
						</li>
					</ul>
				</li>

				<li {{#is pagename "in" "static-tables,responsive-tables"}}class="active open"{{/is}} >
					<a href="">
						<i class="fa fa-table"></i> 表格
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">
						<li {{#is pagename "===" "static-tables"}}class="active"{{/is}} >
							<a href="static-tables.html">
								静态表格
							</a>
						</li>

						<li {{#is pagename "===" "responsive-tables"}}class="active"{{/is}} >
							<a href="responsive-tables.html">
								响应表格
							</a>
						</li>

					</ul>
				</li>

				<li {{#is pagename "===" "forms"}}class="active"{{/is}} >
					<a href="forms.html">
						<i class="fa fa-pencil-square-o"></i> 表单
					</a>
				</li>

				<li {{#is pagename "in" "buttons,grid,icons,cards,typography"}}
						class="active open"
					{{/is}} >
					<a href="">
						<i class="fa fa-desktop"></i> 用户界面元素
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">
						<li {{#is pagename "===" "buttons"}}class="active"{{/is}}>
							<a href="buttons.html">
								按钮
							</a>
						</li>

						<li {{#is pagename "===" "cards"}}class="active"{{/is}}>
							<a href="cards.html">
								卡片
							</a>
						</li>

						<li {{#is pagename "===" "typography"}}class="active"{{/is}}>
							<a href="typography.html">
								排版
							</a>
						</li>

						<li {{#is pagename "===" "icons"}}class="active"{{/is}}>
							<a href="icons.html">
								图标
							</a>
						</li>

						<li {{#is pagename "===" "grid"}}class="active"{{/is}}>
							<a href="grid.html">
								网格
							</a>
						</li>
					</ul>
				</li>

				<li {{#is pagename "in" "login,signup,reset,error-404,error-500"}}
						class="active open"
					{{/is}} >

					<a href="">
						<i class="fa fa-file-text-o"></i> 页面
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">
						<li {{#is pagename "===" "login"}}class="active"{{/is}}>
							<a href="login.html">
								登录
							</a>
						</li>

						<li {{#is pagename "===" "signup"}}class="active"{{/is}}>
							<a href="signup.html">
								注册
							</a>
						</li>

						<li {{#is pagename "===" "reset"}}class="active"{{/is}}>
							<a href="reset.html">
								找回
							</a>
						</li>

						<li {{#is pagename "===" "error-404"}}class="active"{{/is}}>
							<a href="error-404.html">
								Error 404 App
							</a>
						</li>

						<li {{#is pagename "===" "error-404-alt"}}class="active"{{/is}}>
							<a href="error-404-alt.html">
								Error 404 Global
							</a>
						</li>

						<li {{#is pagename "===" "error-500"}}class="active"{{/is}}>
							<a href="error-500.html">
								Error 500 App
							</a>
						</li>

						<li {{#is pagename "===" "error-500-alt"}}class="active"{{/is}}>
							<a href="error-500-alt.html">
								Error 500 Global
							</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="">
						<i class="fa fa-sitemap"></i> 菜单层级
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">

						<li>
							<a href="#">
								二级菜单条目
								<i class="fa arrow"></i>
							</a>

							<ul class="sidebar-nav">

								<li>
									<a href="#">
										三级菜单条目
									</a>
								</li>

								<li>
									<a href="#">
										三级菜单条目
									</a>
								</li>

							</ul>
						</li>

						<li>
							<a href="#">
								二级菜单条目
							</a>
						</li>

						<li>
							<a href="#">
								二级菜单条目
								<i class="fa arrow"></i>
							</a>

							<ul class="sidebar-nav">

								<li>
									<a href="#">
										三级菜单条目
									</a>
								</li>

								<li>
									<a href="#">
										三级菜单条目
									</a>
								</li>

								<li>
									<a href="#">
										三级菜单条目
										<i class="fa arrow"></i>
									</a>

									<ul class="sidebar-nav">

										<li>
											<a href="#">
												四级菜单条目
											</a>
										</li>

										<li>
											<a href="#">
												四级菜单条目
											</a>
										</li>
									</ul>

								</li>
							</ul>
						</li>

					</ul>
				</li>

				<li {{#is pagename "===" "docs"}}class="active"{{/is}} >
					<a href="screenful.html">
						<i class="fa fa-bar-chart"></i> Agile Metrics <span class="label label-screenful">by Screenful</span>
					</a>
				</li>

				<li {{#is pagename "===" "docs"}}class="active"{{/is}} >
					<a href="https://github.com/dalistudio/modular-admin-html">
						<i class="fa fa-github-alt"></i> 主题的文档
					</a>
				</li>


			</ul>
		</nav>

	</div>

	{{> app/_common/sidebar/customize/customize}}

</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<!-- 侧边栏结束 -->