<div class="card card-block">
	<div class="title-block">
		<h3 class="title">
			单元框类型
		</h3>
	</div>
	<form role="form">
		<div class="form-group">
            <label class="control-label">单选框</label>
            <div>
                <label>
                    <input class="radio" name="radios" type="radio">
                    <span>选项1</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="radio" type="radio" name="radios" checked="checked">
                    <span>选项2（选中）</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="radio" type="radio" name="disabled-radios" disabled="disabled" checked="checked">
                    <span>选项3（选中和禁用）</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="radio" type="radio" name="disabled-radios" disabled="disabled" >
                    <span>选项4（禁用）</span>
                </label>
            </div>
        </div>
        <div class="form-group">
             <label class="control-label">内联单选框</label>
             <div>
                 <label>
                    <input class="radio" name="inline-radios" type="radio">
                    <span>a</span>
                </label>
                <label>
                    <input class="radio" name="inline-radios" type="radio">
                    <span>b</span>
                </label>
                <label>
                    <input class="radio" name="inline-radios" type="radio">
                    <span>c</span>
                </label>
             </div>
        </div>
        <div class="form-group">
             <label class="control-label">放行单选框</label>
             <div>
                 <label>
                    <input class="radio squared"  name="squared-radios" checked="checked" type="radio">
                    <span>选中</span>
                </label>
                <label>
                    <input class="radio squared"  name="squared-radios" type="radio">
                    <span>未选</span>
                </label>
             </div>
        </div>
	</form>
</div>