<div class="card sameheight-item">
   <div class="card-block">

      <div class="card-title-block">
         <h3 class="title">
            按钮下拉列表
         </h3>
      </div>
      <section class="section">
        
         <p>下拉菜单</p>
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               主要
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               次要
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               成功
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               信息
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               警告
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               危险
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->

         <br>
         <br>
         <p>分割下拉菜单</p>
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-primary">主要</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">切换下拉菜单</span>
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-secondary">次要</button>
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">切换下拉菜单</span>
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-success">成功</button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">切换下拉菜单</span>
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-info">信息</button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">切换下拉菜单</span>
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-warning">警告</button>
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">切换下拉菜单</span>
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-danger">危险</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">切换下拉菜单</span>
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->

         <br>
         <br>
         <p>下拉列表</p>
         <!-- START button group-->
         <div class="btn-group dropup">
            <button type="button" class="btn btn-primary">主要</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">切换下拉菜单</span>
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary">次要</button>
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">切换下拉菜单</span>
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group dropup">
            <button type="button" class="btn btn-success">成功</button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">切换下拉菜单</span>
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group dropup">
            <button type="button" class="btn btn-info">信息</button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">切换下拉菜单</span>
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group dropup">
            <button type="button" class="btn btn-warning">警告</button>
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">切换下拉菜单</span>
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group dropup">
            <button type="button" class="btn btn-danger">危险</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">切换下拉菜单</span>
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">动作1</a>
               <a class="dropdown-item" href="#">动作2</a>
               <a class="dropdown-item" href="#">动作3</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">动作4</a>
            </div>
         </div>
         <!-- END button group-->
      </section>
   </div>
</div>