---
layout: app/app-layout
pagename: typography
---
<div class="title-block">
	<h3 class="title">
		排版
	</h3>
</div>

<section class="section">
	<div class="row sameheight-container">
		<div class="col-md-4">
			<div class="card sameheight-item">
				<div class="card-block">

					<div class="card-title-block">
						<h3 class="title">
							标题
						</h3>
					</div>
					<section class="section">
						<h1>标题 1
                           <small>子标题</small>
                        </h1>
                        <h2>标题 2
                           <small>子标题</small>
                        </h2>
                        <h3>标题 3
                           <small>子标题</small>
                        </h3>
                        <h4>标题 4
                           <small>子标题</small>
                        </h4>
                        <h5>标题 5
                           <small>子标题</small>
                        </h5>
                        <h6>标题 6
                           <small>子标题</small>
                        </h6>
					</section>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card sameheight-item">
				<div class="card-block">

					<div class="card-title-block">
						<h3 class="title">
							段落
						</h3>
					</div>
					<section class="section">
						<p class="lead">这是铅体复制的一个例子。</p>
						<p>这是标准段落文本的示例。这是一个例子<a href="javascript:void(0);">链接定位文本</a> 在正文副本中。</p>
						<p>
						<small>这是一个小的、精细打印的文本示例。</small>
						</p>
						<p>
						<strong>这是一个粗体文本的例子。</strong>
						</p>
						<p>
						<em>这是一个斜体文本的示例。</em>
						</p>
					</section>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card sameheight-item">
				<div class="card-block">

					<div class="card-title-block">
						<h3 class="title">
							重点课程
						</h3>
					</div>
					<section class="section">
						<p class="text-muted">这是静音文本的示例.</p>
                        <p class="text-primary">这是主文本的一个示例.</p>
                        <p class="text-success">这是成功文本的一个示例.</p>
                        <p class="text-info">这是一个信息文本示例.</p>
                        <p class="text-warning">这是警告文本的示例.</p>
                        <p class="text-danger">这是危险文本的一个示例.</p>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section">
	<div class="row sameheight-container">
		<div class="col-md-4">
			<div class="card sameheight-item">
				<div class="card-block">

					<div class="card-title-block">
						<h3 class="title">
							缩写
						</h3>
					</div>
					<section class="section">
						<p>The abbreviation of the word attribute is
			               <abbr title="attribute">attr</abbr>.</p>
			            <p>
			               <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>is an abbreviation for a programming language.</p>
			            <br>
			            <h4>地址</h4>
			            <address>
			               <strong>推特公司.</strong>
			               <br>795 Folsom Ave, Suite 600
			               <br>San Francisco, CA 94107
			               <br>
			               <abbr title="Phone">P:</abbr>(123) 456-7890</address>
			            <address>
			               <strong>全名</strong>
			               <br><a href="mailto:#">first.last@example.com</a>
			            </address>
					</section>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card sameheight-item">
				<div class="card-block">

					<div class="card-title-block">
						<h3 class="title">
							引用块
						</h3>
					</div>
					<section class="section">
						<h4>默认引用块</h4>
                        <blockquote>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </blockquote>
                        <h4>带双引号的引用块</h4>
                        <blockquote>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                           <small>Someone famous in
                              <cite title="Source Title">Source Title</cite>
                           </small>
                        </blockquote>
                        <h4>右对齐的引用块</h4>
                        <blockquote class="pull-right">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </blockquote>
					</section>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card sameheight-item">
				<div class="card-block">
					<div class="card-title-block">
						<h3 class="title">
							列表
						</h3>
					</div>
					<section class="section">
						<h4>无序列表</h4>
                        <ul>
                           <li>列表条目</li>
                           <li>列表条目</li>
                           <li>
                              <ul>
                                 <li>列表条目</li>
                                 <li>列表条目</li>
                                 <li>列表条目</li>
                              </ul>
                           </li>
                           <li>列表条目</li>
                        </ul>
                        <h4>有序列表</h4>
                        <ol>
                           <li>列表条目</li>
                           <li>列表条目</li>
                           <li>列表条目</li>
                        </ol>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>