---
layout: app/app-layout
pagename: charts-morris
---
<div class="title-block">
  <h3 class="title">
    莫里斯图表 
  </h3>
  <p class="title-description">
    带有自定义颜色的示例图表列表
  </p>
</div>

<section class="section">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">

          <div class="card-title-block">
            <h3 class="title">
              面积图示例
            </h3>
          </div>

          <section class="example">

            <div id="morris-area-chart"></div>

          </section>

        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card">
        <div class="card-block">

          <div class="card-title-block">
            <h3 class="title">
              条形图示例
            </h3>
          </div>

          <section class="example">

            <div id="morris-bar-chart"></div>

          </section>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <div class="card-block">

          <div class="card-title-block">
            <h3 class="title">
              折线图示例
            </h3>
          </div>

          <section class="example">

            <div id="morris-line-chart"></div>

          </section>

        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card">
        <div class="card-block">

          <div class="card-title-block">
            <h3 class="title">
              圆环图示例
            </h3>
          </div>

          <section class="example">
            <div id="morris-donut-chart"></div>
          </section>

        </div>
      </div>
    </div>

  </div>
</section>

<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="card-title-block">
            <h3 class="title">
              简单的一行示例
            </h3>
          </div>

          <section class="example">

            <div id="morris-one-line-chart"></div>

          </section>
        </div>
      </div>
    </div>
  </div>
</section>